<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Form</title>
</head>
<body>
<form method="post">
  <input type="number" name="num" value="1234"/>
  <input type="submit">
</form>

<p>Result: {{ name }}</p>

</body>
</html>
